@import 'tailwindcss';
@import '@nuxt/ui';

html {
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
}

html,
body {
  overscroll-behavior: none;
}

.leaflet-container {
  font-family: inherit;
}
